*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header{
    margin: 15px 70px;
}

.logo img{
    height: 70px;
}

.logo li{
    display: inline-block;
    padding: 20px;
    padding-left: 0;
    color: lightgrey;
}

main{
    height: 350px;
    margin: auto 70px;
    background-image: url(img/banner.jpg);
    border-radius: 2%;
    background-position: center;

}

.img{
    padding-top: 240px;
    background-color: rgb(0,0,0,0.1);
}

.img p{
    padding-left: 30px;
    padding-bottom: 40px;
}

span{
    font-size: 25px;
}


article{
    background-color: rgb(45, 48, 236);
    height: 365px;
    margin: 15px 70px;
    margin-bottom: 0;
}

footer{
    background-color: rgb(90, 39, 110);
    height: 35px;
    margin: 7.5px 70px;
}

.color{
    background-color: lightblue;
}

.title{
    height: 50px;
    margin: 0 auto 15px;

}

.container-2{
    height: 300px;
    width: 100%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.column{
    float: left;
    width: 15%;
    height: 285px;
}

.column-2{
    float: left;
    width: 68%;
    height: 285px;
    margin: 0 1%;
}