*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header{
    margin: 15px 70px;
}

.logo img{
    height: 70px;
}

.logo li{
    display: inline-block;
    padding: 20px;
    padding-left: 0;
    color: lightgrey;
}

main{
    margin: auto 70px;
    background-image: url(img/banner.jpg);
    border-radius: 2%;
    background-position: center;
}

.img{
    padding-top: 240px;
    background-color: rgb(0,0,0,0.3);
    border-radius: 2%;
}

.img p{
    color: white;
    padding-left: 30px;
    padding-right: 40%;
    padding-bottom: 40px;
}

#evidence{
    font-size: 25px;
}


article{
    margin: 15px 70px;
    margin-bottom: 0;
}

.title h1{
    font-size: 28px;
}

.title p{
    color: lightgrey;
}

.color{
    background-color: lightblue;
}

.title{
    margin: 0 auto 15px;
}

.container-2{
    width: 100%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.column{
    float: left;
    width: 15%;
}

.big-column{
    float: left;
    width: 68%;
    margin: 0 1%;
}

.column .column-img1{
    width: 100%;
    background-image: url(img/img-1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.big-column .column-img2{
    width: 100%;
    background-image: url(img/banner-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}


.column .column-img3{
    width: 100%;
    background-image: url(img/img-3.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5%;
}

h5{
    font-size: 12px;
    margin: 5px 0;
}

.size{
    font-size: 12px;
}

.overlay{
    background-color: rgb(0,0,0,0.3);
    width: 100%;
    height: 200px;
    border-radius: 2%;
}

footer{
    margin: 7.5px 70px;
    text-align: center;
    padding: 20px
}

#hearts{
    color: red;
}